:root {
    --Navbar-Footer: rgb(66, 64, 64);
    --Primary-Text: white;
    --Primary-Color: rgb(28, 115, 221);
    --Primary-Color-Darker: #1d4ed8;
    --light-gray: rgb(108, 103, 103);
    --solid-black: solid black;
    --select-button-gray: rgb(171, 168, 168);
}

[color-theme="dark"] {
    --Navbar-Footer: rgb(66, 63, 63);
    --Primary-Text: white;
    --Primary-Color: rgb(28, 115, 221);
    --light-gray: rgb(108, 103, 103);
    --solid-black: solid white;
    --select-button-gray: rgb(171, 168, 168);
}