.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-component {
    flex-shrink: 0;
    height: 4rem;
}

.footer-component {
    flex-shrink: 0;
    height: 3rem;
}

.body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    
}

.page-component{
    flex-grow: 1;
    overflow-y: hidden;
}
